{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
 
 {% block header %}
  <h2>Log in to your account</h2>
 {% endblock header %}
 
 {% block content %}
    
    <form method="post" action="{% url 'users:login' %}" class="form">
     {% csrf_token %}
      {% bootstrap_form form %}
   
      {% buttons %}
        <button name="submit" class="btn btn-primary">log in</button>
      {% endbuttons %}
      <a href="{% url "social:begin" "github" %}"><img src="https://s2.ax1x.com/2019/08/30/mXK1df.png" alt="mXK1df.png" border="0" /></a>

      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
 {% endblock content %}
